<div class="footer-basic">
    <footer>
        <div class="social">
            <a alt="Instagram Profile"><i
                    class="fab fa-linkedin-in"></i></a>
            <a alt="CodePen Profile"><i class="fab fa-twitter"></i></a>
            <a alt="Facebook Profile"><i
                    class="fab fa-facebook-f"></i></a>
            <a alt="Mail Me"><i class="fas fa-at"></i></a>
        </div>
        <ul class="d-flex justify-content-center">
            <li><a href="/home">Home</a></li>
            <li><a href="/project">Projects</a></li>
            <li><a href="/service">Services </a></li>
        </ul>
        <p class="copyright">suet lai lily wong © 2023</p>
    </footer>
</div>

<!-- Bootsrap JS -->
<script src="js/bootstrap.bundle.min.js"></script>

